# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Django
staticfiles/
*/migrations/__pycache__/

# React
node_modules/
build/
dist/

# Archivos de entorno
.env

# Logs
*.log
yarn-error.log

# IDEs y configuración
.vscode/
.idea/

# Tests / coverage
htmlcov/
.coverage
.pytest_cache/
